{% extends 'blog/base.html' %}

{% block indexactive %} active {% endblock indexactive %}

{% load static %}
{% block content %}
<div class="container">


  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Tech Blog</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently
        about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="{% url 'blog-home' %}" class="text-white font-weight-bold">Continue reading...</a>
      </p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Tech post</h3>
          <p class="card-text mb-auto my-1">This is a wider card Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Ea sit est cumque? with supporting text below as a natural.</p>
          <a href="{% url 'blog-home' %}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="220" src="{% static 'blog/img/bg2.jpg' %}" role="img"
            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
            dy=".3em"></text></img>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Tech post</h3>
          <p class="card-text mb-auto my-1">This is a wider card Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Ea sit est cumque? with supporting text below as a natural.</p>
          <a href="{% url 'blog-home' %}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="220" src="{% static 'blog/img/bg2.jpg' %}" role="img"
            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
            dy=".3em"></text></img>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="220" src="{% static 'blog/img/bg2.jpg' %}" role="img"
            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
            dy=".3em"></text></img>
        </div>
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Tech post</h3>
          <p class="card-text mb-auto my-1">This is a wider card Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Ea sit est cumque? with supporting text below as a natural.</p>
          <a href="{% url 'blog-home' %}" class="stretched-link">Continue reading</a>
        </div>

      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="220" src="{% static 'blog/img/bg2.jpg' %}" role="img"
            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
            dy=".3em"></text></img>
        </div>
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Tech post</h3>
          <p class="card-text mb-auto my-1">This is a wider card Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Ea sit est cumque? with supporting text below as a natural.</p>
          <a href="{% url 'blog-home' %}" class="stretched-link">Continue reading</a>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock content %}